mixin testimonials(data)
    section.testimonials#testimonials
        .container
            .flexslider.slider(data-aos="fadeInUp")
                ul.slides.slider__list
                    each item in data
                        li.slider__item
                            .slider__image-wrap
                                img(src="img/" + item.image alt=item.author).slider__image
                            blockquote.slider__quote-wrap
                                if item.quote.length > 145
                                    p.slider__quote.
                                        “#{item.quote.substr(0, 145)}...”
                                else
                                    p.slider__quote.
                                        “#{item.quote}”
                                footer.slider__author
                                    cite - #{item.author}, #{item.city} -
